// fonts 
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap');

// colours
$app-bg: #E5E5E5;
$nav-bg: #333;
$white: #fff;
$off-white: #F4F4F4;

// layout 
$gutter: 64px;

// type 
$nav-font-size: 13px;