.card {
    position: relative;
    place-self: center;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    border: 4px solid transparent;
    width: 100%;
    padding-top: 60px;
    cursor: pointer;
    transition: 0.3s;
    min-height: 215px;

    &.selected {
        border-color: rgba(16, 123, 106, 0.4);
    }

    &:hover {
        border-color: rgba(16, 123, 106, 0.3);
    }

    &-img {
        position: absolute;
        width: 120px;
        top: calc(-120px / 2);
        left: 50%;
        margin-left: -60px;
        text-align: center;
    }

    &-num {
        text-align: center;
        margin-bottom: 14px;

        span {
            font-size: 12px;
            font-weight: bold;
            line-height: 14px;
            color: #000000;
            opacity: 0.6;
            background: rgba(51, 51, 51, 0.2);
            border-radius: 32px;
            padding: 5px 16px;
        }
    }

    &-name {
        font-size: 2rem;
        line-height: 37px;
        text-align: center;
        text-transform: capitalize;
        color: #333333;

        @media (max-width: 1220px) {
            font-size: 1.5rem;
        }
    }

    &-types {
        display: flex;
        padding: 25px;
        justify-content: center;

        span {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            border-radius: 4px;
            padding: 4px 12px;
            margin: 0 4px;
        }
    }
}