.nav {
    background: $nav-bg;
    display: flex;
    justify-content: space-between;
    padding: 12px $gutter;

    @media (max-width: 930px) {
        height: 80px;
        position: absolute;
        z-index: 6;
        width: 100%;
        padding: 12px ($gutter / 2);
        flex-direction: column;
        justify-content: initial;
        overflow: hidden;
        transition: 0.3s;

        &.active {
            height: 100%;
        }
    }

    &-left {
        display: flex;
        @include flex-centre();

        @media (max-width: 930px) {
            margin-top: 14px;
        }
    }

    &-logo {
        width: 114px;
    }

    &-right {
        display: flex;
        @include flex-centre();

        @media (max-width: 930px) {
            margin-top: 40px;
            flex-direction: column;
        }
    }

    &-list {
        display: flex;
        @include flex-centre();

        @media (max-width: 930px) {
            position: absolute;
            top: 300px;
            order: 2;
            flex-direction: column;
        }
    }

    &-link {
        margin-right: $gutter;
        color: $white;
        opacity: 0.6;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $nav-font-size;
        text-decoration: none;

        &.router-link-exact-active {
            opacity: 1;
        }

        @media (max-width: 930px) {
            margin: 30px auto;
            font-size: 24px;
        }
    }

    &-profile {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $off-white;
        text-align: center;
        overflow: hidden;

        @media (max-width: 930px) {
            order: 1;
            width: 100px;
            height: 100px;
        }

        &-img {
            display: inline;
            height: 100%;
        }
    }

    &-toggle {
        display: none;
        position: absolute;
        top: 33px;
        right: 20px;
        z-index: 1;

        @media (max-width: 930px) {
            display: block;
        }

        &.active {
            span {
                opacity: 1;
                transform: rotate(-45deg) translate(-5px, 7px);

                &:nth-last-child(2) {
                    transform: rotate(45deg) translate(0, -5px);
                }
            }
        }

        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;

            background: #cdcdcd;
            border-radius: 3px;

            z-index: 1;

            transform-origin: 4px 0px;

            transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;

            &:first-child {
                transform-origin: 0% 0%;
            }

            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }
    }
}