@import "@/sass/partials/card.scss";

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;

    &:hover {
        border-color: transparent;
    }

    &-img {
        filter: grayscale(1);
        width: 90px;
        top: calc(-90px / 2);
        left: 50%;
        margin-left: -45px;
        background-color: $white;
        border-radius: 50%;
        opacity: 0.7;
    }

    &-plus {
        text-align: center;
        color: #000;
        font-size: 40px;
        background: #f8f8f8;
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 7px 17px;
        box-sizing: border-box;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            border-color: rgba(16, 123, 106, 0.3);
        }
    }
}