.main-row {
    padding-bottom: 300px;
}

.main-count {
    position: absolute;
    bottom: 200px;
    width: 100%;
    left: 0;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    color: #333;

    span {
        opacity: 0.7;
        border: 2px solid #333;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 10px;
        padding: 5px 10px;
        margin: 0 auto;
        margin-top: 30px;

        &:before {
            content: "\25CF";
            width: 10px;
            height: 10px;
        }

        &:after {
            content: "\2193";
        }
    }
}